package ${packageName}.service;

import ${packageName}.interfaces.request.Search${ClassName}PageRequest;
import ${packageName}.interfaces.response.Search${ClassName}PageResponse;
import ${packageName}.common.page.Page;
import ${packageName}.common.result.Result;

/**
 * @author ${author}
 * @description ${functionName}Service接口
 */
public interface ${ClassName}Service {

    /**
     * 查询${functionName}列表
     * 
     * @param request 查询参数
     * @return ${functionName}分页
     */
    Result<Page<Search${ClassName}PageResponse>> search${ClassName}Page(Search${ClassName}PageRequest request);
}
