<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fei.dao.mapper.UserManagerMapper">

    <update id="updateSysUser" parameterType="com.fei.dao.entity.SysUser">
        update sys_user
        <set>
            <if test="password != null">
                password = #{password}
            </if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <select id="getSysUserByUserName" resultType="com.fei.dao.entity.SysUser">
        select * from sys_user where user_name = #{userName}
    </select>

    <sql id="searchCondition">
        <where>
            <if test="userName != null">
                and user_name = #{userName}
            </if>
            <if test="beginCreateTime != null and endCreateTime != null">
                and create_time between #{beginCreateTime} and #{endCreateTime}
            </if>
        </where>
    </sql>

    <select id="getSysUserCount" resultType="java.lang.Integer">
        select count(*) from sys_user
        <include refid="searchCondition"/>
    </select>

    <select id="searchSysUsers" resultType="com.fei.dao.entity.SysUser">
        select * from sys_user
        <include refid="searchCondition"/>
    </select>
</mapper>

